{% extends 'sidebar.html' %}
{% load staticfiles %}
{% block contents %}
<head>

</head>
<body>
    <div class="row" style="height:100%; margin: 0">
        <div class="col-md-4" style="background-color: cyan;">
            <a href="{% url 'statistic_bio' %}" style="width: 100%; height: 100%;">
                생체 정보 통계
            </a>
        </div>
        <div class="col-md-4" style="background-color: darkgoldenrod; ">
            <a href="{% url 'statistic_sleep' %}" style="width: 100%; height: 100%">
                수변 분석 통계
            </a>
        </div>
        <div class="col-md-4" style="background-color: deeppink;">
            <a href="{% url 'statistic_disease' %}" style="width: 100%; height: 100%">
                질병 추세 통계
            </a>   
        </div>
    </div>
</body>
{% endblock %}


