
body {
    background-color: #ffffff;
}

body .header {
    height: 60px;
}

.BoardDetail__content__maintext > p > img {
    max-width: 100%;
}

.PageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.PageContainer-child {
    width: 100%;
    max-width: 1200px;
    padding-top: 60px;
}

/* board/index */

.TitleWrapper {
    width: 90%;
}

.TitleText {
    align-self: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.6rem;
    word-spacing: 1px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.TitleBar {
    width: 7px;
    height: 25px;
    background-color: #ff9e1b;
    margin: 5px 4px 0px 0px;
}

.WriteButton--mobile,
.WriteButton--pc {
    background-color: #ff9e1b;
    color: #ffffff;
    height: 30px;
    padding: 5px 8px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}

.BoardHeader {
    width: 90%;
    border-top: 2px solid #544c4c;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px 0px;
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}

.BoardHeader::after {
    content: "content";
    display: block;
    visibility: hidden;
}

.BoardHeader__number {
    width: 10%;
}

.BoardHeader__title {
    width: 50%;
    left: 100px;
}

.BoardHeader__writer {
    width: 10%;
    right: 250px;
}

.BoardHeader__date {
    width: 10%;
    right: 150px;
}

.BoardHeader__hit {
    width: 8%;
    right: 80px;
}

.BoardHeader__like {
    width: 5%;
    right: 20px;
}


.BoardBody {
    margin-bottom: 20px;
    width: 90%;
}


.Board__searchform {
    margin: 0.3rem 0.5rem;

}

.Board__searchform__input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 75%;
}

.Board__searchform__input:hover {
    border: 1px solid rgba(244, 139, 0, 0.4);
    margin-bottom: 20px;
    box-shadow: 0px 1px 6px 0px rgba(244, 139, 0, 0.4);
    line-height: normal;
}

.Board__searchform__submit {
    color: #ffffff;
    border: 1px solid #f48b00;
    background-color: #f48b00;
    width: 23%;
}


/* table_row */
.BoardContent__title__link,
.BoardContent__title__link:active,
.BoardContent__title__link:visited {
    color: #000000;
    font-weight: 400;
}

.BoardContent__title__link:hover {
    color: #F48B00;
}


.BoardContent {
    position: relative;
    list-style-type: none;
    padding: 0.6rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans KR', sans-serif;
}

.BoardContent__info {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
}

.BoardContent__info__date,
.BoardContent__info__user {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
}

.BoardContent__icon {
    width: 0.9rem;
    height: 0.9rem;
}

.content-button__likeit__icon--empty,
.content-button__likeit__icon--full {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom !important;
}

.login__wrap__box {
    margin: 70px;
}


.BoardContent__title__brackets {
    display: inline-block;
    border: 0.04rem solid #f48b00;
    font-size: 0.6rem;
    font-weight: 800;
    padding: 2px 3px;
    color: #f48b00;
    line-height: normal;
    margin-bottom: 0.5rem;
}

.BoardContent__title {
    margin: 3px 0px;
}


.BoardContent__new {
    display: inline-block;
    background-color: #f48b00;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5rem;
    color: #ffffff;
    text-align: center;
    width: 0.8rem;
    height: 0.85rem;
    line-height: 1rem;
}

/*
    pagenation
*/

.PagenateList {
    font-size: 0.8rem;

}

.PagenateList__box {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    float: left;
    margin: 3px;
    padding: 1px;
    min-width: 24px;
    min-height: 24px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.PagenateList__box--current {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    float: left;
    margin: 4px;
    padding: 1px;
    min-width: 24px;
    min-height: 24px;
    background-color: #f48b00;
}

.PagenateList__box__link {
    color: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
}

.PagenateList__box--hidden {
    visibility: hidden;
}

/* */

.LogoImg {
    display: none;
    width: 124px;
    height: 15px;
}


.comment-button__likeit__icon--empty,
.comment-button__likeit__icon--full {
    width: 0.9rem;
    height: 0.9rem;
    vertical-align: bottom !important;
}

.content-button__likeit-text {
    display: inline-block;
    min-width: 20px;
}

.comment-button__likeit-text {
    display: inline-block;
    min-width: 10px;
}

.BoardContent__inner {
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}

.page-sidebar,
.sidebar-header,
.page-sidebar a {
    background-color: #544c4c !important;
    border-bottom: none !important;
    color: #ffffff !important;
}

.page-sidebar a:hover {
    font-weight: 600;
    color: #f48b00 !important;
}

.sub-menu {
    background-color: #544c4c !important;
}

.BoardContent__comment--pc {
    display: none;
}

.icon-thumbnail {
    background: none !important;
    color: #ffffff !important;
}

.BoardDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BoardDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-top: 25px;
    padding: 0px;
}

.BoardDetail__profile {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    line-height: 1rem;
    margin-bottom: 20px;
}

.BoardDetail__profile::after {
    content: 'content';
    display: block;
    visibility: hidden;
}

.BoardDetail__profile__img {
    width: 50px;
    height: 50px;
    margin: 0rem 0.5rem 0rem 1rem;
    --border: 2px solid #ffa500cc;
    border-radius: 5px;
}

.Comment-profile__img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 0.3rem;
}

.Comment-profile {
    display: flex;
    justify-content: space-between;
}

.Comment-profile__date {
    max-height: 22px;
    display: inline-flex;
    align-items: flex-end;
    font-size: 0.7rem;
}

.BoardDetail__content {
    align-self: flex-start;
    word-break: break-all;
    width: 95%;
    margin: 0rem 0.5rem 0rem 1rem;
}

.profile__info__create {
    margin: 0px;
}

.BoardDetail__category {
    align-self: flex-start;
    margin: 0rem 0.5rem 0rem 1rem;
    display: none;
}

.BoardDetail__content__title,
.BoardDetail__content__maintext {
    margin: 0px;
    padding: 0px;
}

.BoardDetail__content__title {
    font-size: 1.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    margin: 0.5rem 0rem;
}

.BoardDetail__content__maintext {
    margin: 0px;
    padding: 0px;
    min-height: 20rem;
}

.content-button__scrap,
.content-button__likeit {
    border: 0;
    color: #444444;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: normal;
    cursor: pointer;
}


.content-button__scrap {
    opacity: 0.4;
    background-color: rgba(81, 81, 81, 0.31);
}

.comment__likeit:hover,
.comment__likeit:active {
    line-height: normal;
}

.comment-button__img {
    width: 1rem;
}

.comment__recomment {
    border: 1px solid rgba(244, 139, 0, 0.6);
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem;
    line-height: normal;
    background: 0;
    color: #000000 !important;
    margin: 0rem 0.3rem;
}

.RecommentContainer {
    padding: 0px;
}

.RecommentContainer--hide {
    display: none;
}

.Recomment-form {
    position: relative;
    padding-left: 1rem;
}


.comment__likeit {
    border: 0px solid #e9e9e9;
    background: #ffffff;
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem;
    line-height: normal;
}

.Comment-profile__writer {
    margin-right: 0.3rem;
    font-weight: 500;
}

.Comment-profile__left {
    display: flex;
}

.Comment-profile__right {
    display: flex;
}


.BoardDetail__comment__header {
    font-weight: 600;
    font-size: 1.2rem;
    color: #544c4c;
    padding: 0px !important;
    margin: 0rem 0.5rem 0rem 1rem;
    min-height: unset !important;
}

BoardDetail__comment {
    padding: 0px;
    padding: 0px 10px;
}

.BoardDetail__comment__body {
    padding: 0px !important;
    margin: 0px 0px 0px 8px;
}

.Comment__container {
    margin: 0rem 0rem 0rem 1rem;
}

.Comment-form__container {
    padding: 0px;
}

.Comment-form {
    position: relative;
    margin: 2rem 0rem 3rem 0rem !important;
    padding: 0px !important;

}

.Comment-form--onlyText {
    position: relative;
    margin: 0.75rem !important;
    padding: 0px !important;

}

.Comment-form__button__wrapper {
    position: absolute;
    top: 0.5rem;
    width: auto;
    right: 7px;
    padding: 0px;
}

.Comment-form__button,
.Comment-form__button:hover,
.Comment-form__button:active {
    background: none !important;
    border: none !important;
    margin: 0px !important;
    padding: 0.3rem;
}


.profile-button__delete,
.profile-button__edit {
    border: 1px solid rgba(0, 0, 0, 0.26);
    color: #444444;
    background-color: #ffffff;
    margin-left: 5px;
    padding: 0.2rem 0.4rem;
}

.BoardDetail__profile__button--onlyuser {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
}

.BoardDetail__profile__hit {
    display: none;
    margin: 0px;
}

.Comment-form__button__picture,
.Comment-form__button__submit {
    font-size: 0.7rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

.comment__delete {
    border: 1px solid rgba(244, 139, 0, 0.6);
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem;
    line-height: normal;
    color: #000000 !important;
}

.BoardDetail__commentCount {
    color: #f48b00 !important;
}

.BoardDetail__content__button {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

/* ttttttttttttttt*/

.BoardHeader__check,
.BoardContent__check {
    width: 10%;
    right: 0px;
}

.BoardContent__deadline span {
    color: #000000;
}

/* abababababab*/
.SubmissionWrapper {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000000;
}

.SubmissionForm__title {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
}

.BoardContent__check__icon {
    width: 1rem;
}

.AssignmentEdit-button,
.AssignmentSneak-button {
    color: #ff9e1b;
    border: 1px solid #ff9e1b;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 10px 5px;
}

.Submission__card {
    border: 1px dashed rgba(255, 158, 27, 0.71);
    height: 400px;
}

.Submission-sneakicon {
    width: 15px;
    height: 15px;

}

.Submission__sneakimg {
    width: 100%;
    height: 280px;
}

.SubmissionForm__img-button {
    line-height: normal;
}

.SubmissionForm__submit-button {
    color: white;
    background-color: #ff9e1b;
    cursor: pointer;
}

.SubmissionForm__url,
.SubmissionForm__img {
    background: rgba(0, 0, 0, 0.05);
    border: 0;
    margin-right: 3px;
    height: 30px;
}

.SubmissionForm__content {
    background: rgba(0, 0, 0, 0.05);
    border: 0;
}

.SubmissionForm__img__notice {
    margin: 0;
    font-size: 0.5rem;
    color: red;
}

.BoardDetail__answer {
    min-width: 150px;
    width: 20%;
    padding: 10px 3px;
    margin: 0px 0px 20px 0px;
    border: 2px solid #ff9e1b;
    color: #ff9e1b;
    text-align: center;
    font-size: 20px;
}

/* login */

.LoginFormContainer {
    width: 494px;
    height: 534px;
    background-color: white;
    border: 0px;
    z-index: 999;
}

.LoginMain__form {
    width: 50%;
}

.LoginInput {
    border: 1px solid rgba(0, 0, 0, 0.56) !important;
}

.LoginWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-header {
    background-color: transparent;
    border: 0;
}

.Login-background {
    opacity: 0.3;
}

.LoginButton {
    background-color: #ff9e1b;
    color: #fff;
    padding: 0.5rem;
    border: 0px solid rgba(0, 0, 0, 0.56);
}

.ForgotPassword {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #ff9e1b;
    margin: 20px 0px;
    font-weight: 600;
}

/* stacklion*/
.QuestionSolved,
.QuestionUnsolved {
    display: inline-block;
    border: 0.04rem solid #f48b00;
    font-size: 0.6rem;
    font-weight: 800;
    padding: 2px 3px;
    color: #f48b00;
    line-height: normal;
    margin: 0px 0px 8px;
}

.QuestionSolved {
    background-color: #ff9e1b;
    color: #ffffff;
}

.WinAnswer__label {
    width: 1rem;
    padding: 8px 8px;
    background-color: #ff9e1b;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.ChoiceButton{
    border: 2px solid #ff9e1b;
    color: #ff9e1b;
    padding:5px 10px;
}

/* mypage */
.btn_orange {
    background-color: #ff9e1b;
    color: #fff;
    border: 0;
}

body.mobile .page-sidebar .sidebar-menu .menu-items li:hover .icon-thumbnail {
    color: #ffffff !important;
}


textarea.form-control::-webkit-input-placeholder {
    color: #f48b00;
}


@media (max-width: 768px) {
    .BoardHeader,
    .BoardContent__id,
    .WriteButton--pc {
        display: none !important;
    }
}

@media (min-width: 769px) {

    .LogoImg {
        display: block;
        width: 175px;
        height: 22px;
    }

    .PageContainer-child {
        width: 100%;
        max-width: 1200px;
        padding-top: 60px;
    }

    .BoardContent__icon {
        display: none;
    }

    .BoardContent {
        display: flex;
    }

    .BoardContent__title__brackets {
        box-shadow: none;
        margin-bottom: 0rem;
        vertical-align: text-top;
    }

    .BoardContent__id {
        text-align: center;
        width: 10%;
    }

    .BoardContent__title {
        width: 50%;
        height: auto;
        margin: 0px 0px 0px 30px;
    }

    .BoardContent__info__user {
        position: absolute;
        right: 250px;
        width: 10%;
        text-align: center;
    }

    .BoardContent__info__date {
        position: absolute;
        right: 150px;
        width: 10%;
        text-align: center;
    }

    .BoardContent__info__hit {
        position: absolute;
        right: 80px;
        width: 8%;
        text-align: center;
    }

    .BoardContent__info__like {
        position: absolute;
        color: #f48b00;
        font-weight: bold;
        right: 20px;
        width: 5%;
        text-align: center;
    }

    .BoardContent__info__comment {
        display: none;
    }

    .BoardContent__info {
        display: flex;
        justify-content: flex-start;
        font-size: 0.8rem;
    }

    .WriteButton--mobile {
        display: none;
    }

    .WriteButton--pc {
        position: relative;
        right: 4%;
    }


    .BoardContent__title__link {
        font-size: 0.8rem;
    }

    .BoardContent__comment--pc {
        display: inline-block;
    }

    .board--break-line {
        display: none;
    }

    .Board__searchform {
        width: 20rem;
        align-self: auto;
    }

    .BoardDetailContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 100%;
        margin-top: 25px;
        padding: 0px;
    }

    .BoardDetail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 1200px;
        padding-left: 15px;
    }

    .BoardContainer {
        width: 1200px;
    }

    BoardDetail__comment {
        padding: 0px;
        padding: 0rem 1rem;
    }

    .BoardDetail__comment__body {
        padding: 0px !important;
        margin: 0rem 0rem 0rem 1rem;
    }

    .Comment__container {
        margin: 0rem 0rem 0rem 1rem;
    }

    /* ttttttttttttttt*/
    .BoardHeader__deadline,
    .BoardContent__deadline {
        width: 10%;
        right: 250px;
        position: absolute;
    }

    .BoardHeader__check,
    .BoardContent__check {
        width: 10%;
        right: 10px;
    }

    .BoardContent__deadline--mobileonly {
        display: none;
    }


    .QuestionSolved,
    .QuestionUnsolved {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        padding: 2px 5px;
        margin: 0px;
        margin-right: 5px;
        border: 1px solid #cacaca;
        display: inline-block;
        width: 9%;
        text-align: center;
        color: #cacaca;
    }

    .QuestionSolved {
        border: 1px solid #ff9e1b;
        background-color: #ff9e1b;
        color: #ffffff;
        font-weight: 600;
    }


    .BoardDetail__answer {
        min-width: 150px;
        width: 20%;
        padding: 10px 3px;
        margin: 0px 0px 30px 0px;
        border: 2px solid #ff9e1b;
        color: #ff9e1b;
        text-align: center;
        font-size: 20px;
    }

    /* login */
    .LoginPageContainer--orange {
        background-color: #ff9e1b;
        z-index: auto;
    }

    .LoginFormContainer {
        width: 494px;
        height: 534px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.56);
        z-index: 999;
    }

    .LoginMain__form {
        width: 50%;
    }

    .LoginInput {
        border: 1px solid rgba(0, 0, 0, 0.56) !important;
    }

    .LoginWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .login-header {
        background-color: transparent;
        border: 0;
    }

    .Login-background {
        opacity: 0.3;
    }

    .LoginButton {
        background-color: #ff9e1b;
        color: #fff;
        padding: 0.5rem;
        border: 0px solid rgba(0, 0, 0, 0.56);
    }

    .ForgotPassword {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #ff9e1b;
        margin: 20px 0px;
        font-weight: 600;
    }
}