.sidebar {
  width: 280px;
  background-color: #4e769e;
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
}

#sidebar {
  padding-top: 56px;
  font-size: 14px; 
  z-index: 100; 
  -webkit-transform: translate3d(-220px,0,0);
  -moz-transform: translate3d(-220px,0,0);
  transform: translate3d(-220px,0,0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
  
html.open #sidebar { 
  overflow-y: auto;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
  
#sidebar-toggle { 
  display: block;
  position: fixed; 
  right: 5px;
  bottom: 10px; 
  width: 50px;
  height: 50px; 
  line-height: 55px;
  text-align: center;
  color: #555;
  background-color: #f1f1f1;
  border-radius: 10px;
  opacity: 0.9; 
  box-shadow: 0 0 10px #aaa;
  z-index: 101;
}


