.sidebar {
  width: 280px;
  background-color: #4e769e;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  top: 0;
  right: auto;
  overflow: hidden;
}

button {
  outline: none;
}

button .sidebar-btn {
  color: #fff;
  font-weight: bold;
}

.sidebar > .sidebar-content {
  position: absolute;
  top: 20px;
  left: 90px;
  color: #fff;
}

.sidebar button {
  background-color: #222;
  display: block;
  position: absolute;
  top: 117px;
  left: 270px;
  width: 70px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}



