{% extends 'sidebar.html' %}
{% load staticfiles %}
{% block contents %}
<head>
    <link rel="stylesheet" href="{% static 'css/detail.css'%}">
</head>
<body style="padding: 8px 15px;">
    <div class="container-fluid">
        <div class="headline">
            <a class="back" href="{% url 'lastsleep' %}">
                <img src="{% static 'images/back.png' %}">
            </a>
            <p class="headline_title"><span style="font-size:1.5vw ">지난 밤 수면 분석 - </span>수면 분석</p>
        </div>
        <div class="contents">
           <div class="main_contents">
                <div class="main_container">
                    <a class="btn btn_prev" href="javascript:void(0);"></a> 
                    <a class="btn btn_next" href="javascript:void(0);"></a>
                    <ul class="contents_wrapper" style="height: 95%;">
                        <li class="item"> 
                            <div class="responsivGallery-link">
                                <div class="card_head">
                                    <p class="card_title">수면 무호흡</p>
                                </div>
                               <div class="card_contents">
                                  <div class="graph">
                                    <div class="big_chart" id="apneachart1"></div>
                                  </div>
                                  <div class="speechbubble">
                                    <div class="triangle"></div>
                                    <div class="bubblecontents">
                                        <p id="explain"style="font-size: 1vw; font-style: bold; color:white ">
                                          수면무호흡에 대한 설명 설명 <br>
                                          어젯밤 수면 무호흡 횟수 : 00
                                          무호흡 시간: 00
                                          등등
                                        </p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </li>
                        <li class="item"> 
                            <div class="responsivGallery-link">
                                <div class="card_head">
                                    <p class="card_title">수면 단계 분석</p>
                                </div>
                                <div class="card_contents">
                                    <div class="graph">
                                      <div class="big_chart" id="sleepchart1"></div>
                                    </div>
                                    <div class="speechbubble">
                                      <div class="triangle"></div>
                                      <div class="bubblecontents">
                                          <p id="explain"style="font-size: 1vw; font-style: bold; color:white ">
                                            수면 단계에 대한 설명 <br>
                                            총 수면 시간 00시간 
                                            깊은 잠 00시간
                                            렘 수면 00시간
                                          </p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item"> 
                            <div class="responsivGallery-link">
                                <div class="card_head">
                                    <p class="card_title">수면 무호흡</p>
                                </div>
                                <div class="card_contents">
                                    <div class="graph">
                                      <div class="big_chart" id="apneachart2"></div>
                                    </div>
                                    <div class="speechbubble">
                                      <div class="triangle"></div>
                                      <div class="bubblecontents">
                                          <p id="explain"style="font-size: 1vw; font-style: bold; color:white ">
                                            수면무호흡에 대한 설명 설명 <br>
                                            어젯밤 수면 무호흡 횟수 : 00
                                            무호흡 시간: 00
                                            등등
                                          </p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item"> 
                            <div class="responsivGallery-link">
                                <div class="card_head">
                                    <p class="card_title">수면 단계 분석</p>
                                </div>
                                <div class="card_contents">
                                    <div class="graph">
                                      <div class="big_chart" id="sleepchart2"></div>
                                    </div>
                                    <div class="speechbubble">
                                      <div class="triangle"></div>
                                      <div class="bubblecontents">
                                          <p id="explain"style="font-size: 1vw; font-style: bold; color:white ">
                                            수면 단계에 대한 설명 <br>
                                            총 수면 시간 00시간 
                                            깊은 잠 00시간
                                            렘 수면 00시간
                                          </p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
           </div>
        </div>
        <div class="voice_guide">
            <div>
                <div class="voice_contents">
                    <img class="icon" src="{% static 'images/voice_icon.png' %}">
                    <img clas="bar" src="{% static 'images/voice_bar.png' %}">
                    <p style="font-size: 1.3vw;">지니야, 총 수면 시간 알려줘</p>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/statistic_sub.js' %}"></script>
    <script type="text/javascript">
        $('.contents_wrapper').responsiveGallery({
            animatDuration: 400, 
            $btn_prev: $('.btn_prev'),
            $btn_next: $('.btn_next')
        });
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var font_size = screen.width / 100;
          var data = google.visualization.arrayToDataTable([
            ['Year', 'wake',    'rem'],
            ['2013',  10,      40],
            ['2014',  11,      46],
            ['2015',  66,       11],
            ['2016',  10,      54]
            ]);

            var options = {
            legend: 'none',
            chartArea: {
                left: '10%', top: '10%',
                right: '0%', bottom: '10%',
                width: '90%',
                height: '90%',
            },
            tooltip: { trigger: 'none'},
            backgroundColor: {
                fillOpacity: 0
            },
            vAxis: {
                gridlines: { count: 6, color: 'none'},
                textStyle: {
                color: 'rgb(114, 128, 180)',
                fontSize: 15
                }
            },
            hAxis: {
                textStyle: {
                color: 'rgb(114, 128, 180)',
                fontSize: 15
                },
            },
            };

            var chart = new google.visualization.AreaChart(document.getElementById('sleepchart1'));
            chart.draw(data, options);

            var chart = new google.visualization.AreaChart(document.getElementById('sleepchart2'));
            chart.draw(data, options);


            var data = google.visualization.arrayToDataTable([
            ['Year', 'wake',    'rem'],
            ['2013',  10,      40],
            ['2014',  11,      46],
            ['2015',  66,       11],
            ['2016',  10,      54]
            ]);

            var options = {
            legend: 'none',
            chartArea: {
                left: '10%', top: '10%',
                right: '0%', bottom: '10%',
                width: '90%',
                height: '90%',
            },
            tooltip: { trigger: 'none'},
            backgroundColor: {
                fillOpacity: 0
            },
            vAxis: {
                gridlines: { count: 6, color: 'none'},
                textStyle: {
                color: 'rgb(114, 128, 180)',
                fontSize: 15
                }
            },
            hAxis: {
                textStyle: {
                color: 'rgb(114, 128, 180)',
                fontSize: 15
                },
            },
            };

            var chart = new google.visualization.AreaChart(document.getElementById('apneachart1'));
            chart.draw(data, options);

            var chart = new google.visualization.AreaChart(document.getElementById('apneachart2'));
            chart.draw(data, options);
        }
    </script>
</body>
{% endblock %}